<mat-toolbar color="primary" class="navbar">

  <span class="brand">
    <img src="assets/logo/logo-image.png" alt="Logo">
  </span>

  <span class="spacer"></span>

  <button mat-button routerLink="/upload" routerLinkActive="active">
    <mat-icon>upload</mat-icon>
    <span>Cargar</span>
  </button>

  <button mat-button routerLink="/checklist" routerLinkActive="active">
    <mat-icon>task_alt</mat-icon>
    <span>Checklist</span>
  </button>

  <button mat-button routerLink="/historial" routerLinkActive="active">
    <mat-icon>history</mat-icon>
    <span>Historial</span>
  </button>

</mat-toolbar>
