<mat-toolbar color="primary" class="navbar">

  <!-- LOGO -->
  <a routerLink="/">
    <img src="../../../assets/logo/logo-image.png" alt="Logo" class="logo-image">
  </a>

  <span class="spacer"></span>

  <button mat-button routerLink="/upload">
    <mat-icon>upload</mat-icon>
    Cargar
  </button>

  <button mat-button routerLink="/checklist">
    <mat-icon>task_alt</mat-icon>
    Checklist
  </button>

  <button mat-button routerLink="/historial">
    <mat-icon>history</mat-icon>
    Historial
  </button>

</mat-toolbar>
