table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

button {
  margin-top: 10px;
  margin-right: 5px;
  padding: 6px 10px;
}
